@model List<KitapTuru>
<div class="container">
    <div class="row pt-3 pb-4">
        <h1>Kitap Türleri</h1>

    </div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Id</th>
        <th>Kitap Türü</th>
        <th>Güncelleme</th>
        <th>Silme</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var KitapTuru in Model)
        {
          <tr>
              <td>@KitapTuru.Id</td>
              <td>@KitapTuru.Ad</td>
              <td><a asp-controller="KitapTuru" asp-action="Guncelle" asp-route-id="@KitapTuru.Id" class="btn btn-success" type="button">Güncelle</a></td>
              <td><a asp-controller="KitapTuru" asp-action="Sil" class="btn btn-danger" type="button">Sil</a></td>
          </tr>  
        }
    </tbody>
</table>
<div class="row pt-3 pb-2">
        <a asp-controller="KitapTuru" asp-action="Ekle" class="btn btn-primary btn-lg" type="button">Yeni Kitap Türü Oluştur</a>
</div>
</div>